# 1. Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Importing datasets

In [5]:
# Project folder path 
path = r'C:\Users\hp\08-2024 Instacart Basket Analysis\Data'
# Importing the orders dataset 
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'), index_col =False)
# Importing Products dataset 
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'prods_cleaned.csv'), index_col = False)
# Importing the new dataframe orders products prior
df_ords_prior = pd.read_csv(os.path.join(path,'Original Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
#Check the dimensions of the imported dataframe
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 3.Merge dataframes df_ords and df_ords_prior

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [19]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

**This means that every row in the merged DataFrame has a match in both the left and right DataFrames, with no unmatched rows from either side.**

In [23]:
#Export data to pkl
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))